@media screen and (max-width: 800px) {
    .logo {
        width: 50%;
    }
    .footer {
        bottom: 0;
        position: absolute;
    }
}

@media screen and (min-width: 800px) {
    .logo {
        width: 50%;
    }
}