.inscription {
    background: url('./../images/inscription.png');
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
}
.profile {
    background: url('./../images/user.png');
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
}
.engine {
    background: url('./../images/scooter.png');
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
}
.warn {
    background: url('./../images/warn.png');
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
}

@media screen and (max-width: 800px) {
    .logo {
        width: 100%;
    }
    .footer {
        bottom: 0;
        position: absolute;
        margin-left: 30%;
        margin-bottom: 10%;
        width: 100px;
    }
}

@media screen and (min-width: 800px) {
    .logo {
        width: 50%;
    }
}